body {
  font: 1rem/1.4 -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-right: 1rem;
  margin-bottom: 0;
  margin-left: 1rem;
  font-size: clamp(1rem,calc(.657rem + .731vw),1.8rem);
  font-variant-numeric: oldstyle-nums;
}

h1,h2,h3,h4,h5,b,strong {
  font-weight: 700;
  line-height: 1;
}

h2 a,h3 a,h4 a,h5 a {
  text-decoration: none;
}

p:last-child {
  margin-bottom: .5rem;
}

hr {
  background: #e6e6e6;
  height: 1px;
  border: none;
  max-width: 60ch;
  padding: 0;
  margin: 0 auto;
}

header,article,footer {
  max-width: 60ch;
  margin: 0 auto;
}

header {
  padding-top: 3rem;
}

header a,.list a {
  text-decoration: none;
}

header ul {
  list-style-type: none;
  padding: 0;
}

header a {
  padding-left: 1rem;
}

.title {
  padding-left: 0;
}

footer {
  font-size: clamp(.9rem,calc(.643rem + .549vw),1.5rem);
}

pre,code {
  font-size: inherit;
  background: #f7f7f7;
}

pre {
  margin-bottom: 1.5rem;
}

pre code {
  display: block;
  padding: 1.5rem;
  overflow-x: auto;
}

code {
  background: #ebebeb;
  word-break: normal;
  color: #333;
  font-size: inherit;
  font-variant-numeric: normal;
}

.list li {
  list-style-type: none;
  margin-bottom: .5rem;
  display: flex;
  align-items: baseline;
}

.list,.home ol {
  padding: 0;
  margin: 0;
}

time {
  font-variant-numeric: oldstyle-nums;
  padding-right: 1.5rem;
  white-space: nowrap;
}

blockquote {
  margin: 1em 0;
  padding: 0 2em;
  border-left: 3px solid #ed0c14;
}

img,figure,canvas {
  width: 100%;
/*  margin: auto; */
  height: auto;
  border-radius: 0.5rem; 
  border: grey double; 
  padding: 1rem; 
  margin-bottom: 1rem; 
}

a,a:visited {
  color: inherit;
  text-underline-offset: .2rem;
}

.terms {
  column-count: 2;
}

a.footnote-ref,
a.footnote-backref {
  color: #ed0c14;
  text-decoration: none;
  font-weight: 700;
  font-variant-numeric: tabular-nums;
}

div.footnotes {
  font-size:clamp(.9rem,calc(.643rem + .549vw),1.5rem);
  line-height: 1.2;word-wrap:break-word;
}

a:focus,
a:hover,
::selection {
  background-color: #000;
  color: #fff;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

figcaption {
  color: #313131;
  margin-top: -1.6rem;
  text-align: left;
  word-wrap: break-word;
  font-size: clamp(.9rem,calc(.6rem + .5vw),1.5rem);
  line-height: 1.4rem;
}

li {
  word-wrap: break-word;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-bottom: 1px solid;
}

thead {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.big-img {
  left:50%;
  margin-left: -40vw;
  margin-right: -40vw;
  max-width: 80vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

@media screen and (max-width:700px) {
  .big-img {
    left:unset;
    margin-left: unset;
    margin-right: unset;
    max-width: unset;
    position: unset;
    right: unset;
    width: 100%;
  }
  
  figcaption {
    margin-top: -1.1rem;
    line-height: 1.2rem;
  }}

/* custom css */

button {
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
  padding: 0.4rem;
  margin: 0 0 0.5rem 0;
  margin-right: 1rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
   color: #999;
}

button:not(:disabled):active {
   background-color: #ddd;
}

button:focus {
   border-color: #666;
}

label {
  display: block;
  margin-bottom: 10px;
}

.dropbox {
  padding: 10px 25px;
  margin: 0 0 8px 0;
  transition-duration: 0.4s; 
  border-radius: 0.5rem;
  border: grey dashed;
  padding: 1rem;
  margin-bottom: 1rem; 
}

disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* column */

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
/*  padding: 10px; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type="range"] {
  max-width: 100%;
}

.modal {
  background-color: #ffffff;
  border: 0.0725em solid #e5e5e5;
  border-radius: 0.0725em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.3);
  display: none;
  max-width: 100%;
  padding: 0.5em 1em;
  visibility: hidden;
  z-index: 9999;
}

@media (min-width: 40em) {
  .modal {
    max-width: 98%;
  }
}

.modal.active {
  display: block;
  height: 100%;
  left: 0;
  max-height: 100%;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  visibility: visible;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 30em) {
  .modal.active {
    height: auto;
    left: 3%;
    margin-left: auto;
    margin-right: auto;
    right: 3%;
    top: 50px;
  }
}

@media (min-width: 40em) {
  .modal.active {
    left: 8%;
    right: 8%;
  }
  .modal.active.modal-medium {
    width: 35em;
  }
  .modal.active.modal-small {
    width: 25em;
  }
}

.modal:focus {
  outline: none;
}

.modal-bg {
  background-color: #272727;
  bottom: 0;
  position: fixed;
  left: 0;
  opacity: .9;
  right: 0;
  top: 0;
  z-index: 9998;
}

.close {
  color: #808080;
  cursor: pointer;
  float: right;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}

.close:hover {
  color: #5a5a5a;
  cursor: pointer;
}
